

      <div class="container" style="margin-top: 5vh">
          <br>
              <div class="jumbotron p-3 p-md-5 text-muted rounded bg-light">
                  <div class="row">
                  <div class="col-md-6 px-0" style="margin: 4vh">
                      <h1 class="display-4 font-italic">Welcome. We are so happy you’re here.</h1>
                      <p class="lead my-3">We’re Adam and Joanne, the creators and publishers of Inspired Taste.
                           We do everything around here — we research and develop the recipes, photograph,
                            shoot videos and we’re the one’s answering your cooking questions through our comment section and email.</p>
                            <a href="#fromUs"><button type="button" class="btn btn-outline-success">Read more</button></a>
                  </div>

                  <div class="col-md-4 px-0">
                      <img src="/assets/chef.png" class="rounded float-right" alt="chef" style="width: 90%;" >
                  </div>
                  </div>
              </div>
      </div>

      <div class="container" style="margin: 10%;">

      <div class="col-md-8 blog-main">
              <h3 class="pb-3 mb-4 font-italic border-bottom" id="fromUs">
                From us
              </h3>

              <div class="blog-post">
                <h2 class="blog-post-title">We started Cookbook in 2019</h2>
                <p class="blog-post-meta">January 1, 2019 by Karol & Ala</p>
                <p>We love to cook and try new things in the kitchen and when we fall in love with something, we happily share it with you.</p>
                <hr>
                <blockquote>
                  <p>We’re both obsessed with food and are proud to make cooking and sharing recipes our full-time careers. Our goal is simple, we hope to inspire you to get in the kitchen and cook our fresh and delicious recipes.</p>
                </blockquote>
              </div>
            </div>


      </div>

      <div class="container">
              <footer class="pt-4 my-md-5 pt-md-5 border-top">
                      <div class="row">
                        <div class="col-12 col-md">
                          <img class="mb-2" src="http://www.mobi4health.ug.edu.pl/wp-content/uploads/2016/pobieranie/UG_Logo_EN.jpg" alt="" width="24" height="24">
                          <small class="d-block mb-3 text-muted">© 2019-2020</small>
                        </div>
                        <div class="col-6 col-md">
                          <h5>Find us at:</h5>
                          <ul class="list-unstyled text-small">
                              <li>
                                <a href="https://www.facebook.com/"><img class="mb-2" src="https://image.flaticon.com/icons/svg/21/21155.svg" alt="" width="24" height="24"></a>
                                <a href="https://www.instagram.com/"><img class="mb-2" src="https://image.flaticon.com/icons/svg/733/733614.svg" alt="" width="24" height="24"></a>
                                <a href="https://www.whatsapp.com/"><img class="mb-2" src="https://image.flaticon.com/icons/svg/733/733585.svg" alt="" width="24" height="24"></a>
                              </li>
                          </ul>
                        </div>
                        <div class="col-6 col-md">
                          <h5>Created by</h5>
                          <ul class="list-unstyled text-small">
                            <li>Alicja Chojnowska</li>
                            <li>Karol Pliszka</li>
                            <li>Karol Szczodrowski</li>
                          </ul>
                        </div>
                      </div>
                    </footer>
      </div>
