

  <div class="container" style="margin-top:30px">
      <div class="row">
      <div class="col-sm-4">

          <h3 class="text-muted">Navigation</h3>
          <p class="text-muted">choose a recipe:</p>
          <ul class="list-group list-group-flush">
              <a href="#burgerTitle" style="text-decoration: none;">
                  <li class="list-group-item list-group-item-light list-group-item-action">The Classic Burger</li>
              </a>
              <a href="#salad" style="text-decoration: none;">
                  <li class="list-group-item list-group-item-light list-group-item-action">Stacked Caprese Salad </li>
              </a>
              <a href="#muffins" style="text-decoration: none;">
                  <li class="list-group-item list-group-item-light list-group-item-action">Basic Muffins</li>
              </a>
          </ul>
          <hr class="d-sm-none">
      </div>
      <div class="col-sm-8" style="height: 60%;">
          <h2 class="display-4 text-center">How to Make It</h2>
              <img src="assets/burger.PNG" class="img-thumbnail float-right" alt="burger" style="height: 45vh ;margin: 3%">
              <h2 id="burgerTitle">The Classic Burger</h2>
          <h5>Step 1</h5>
          <p>In a bowl, mix ground beef, egg, onion, bread crumbs, Worcestershire, garlic, 1/2 teaspoon salt, and 1/4 teaspoon pepper until well blended. Divide mixture into four equal portions and shape each into a patty about 4 inches wide.</p>
          <h5>Step 2</h5>
          <p>Lay burgers on an oiled barbecue grill over a solid bed of hot coals or high heat on a gas grill (you can hold your hand at grill level only 2 to 3 seconds); close lid on gas grill. Cook burgers, turning once, until browned on both sides and no longer pink inside (cut to test), 7 to 8 minutes total. Remove from grill.</p>
          <h5>Step 3</h5>
          <p>Lay buns, cut side down, on grill and cook until lightly toasted, 30 seconds to 1 minute.</p>
          <h5>Step 4</h5>
          <p>Spread mayonnaise and ketchup on bun bottoms. Add lettuce, tomato, burger, onion, and salt and pepper to taste. Set bun tops in place.</p>
          <br>
                <blockquote class="blockquote text-center">
                  <footer class="blockquote-footer">1 pound ground lean (7% fat) beef</footer>
                  <footer class="blockquote-footer">1 large egg</footer>
                  <footer class="blockquote-footer">1/2 cup minced onion</footer>
                  <footer class="blockquote-footer">1/4 cup fine dried bread crumbs</footer>
                  <footer class="blockquote-footer">1 tablespoon Worcestershire</footer>
                  <footer class="blockquote-footer">1 or 2 cloves garlic, peeled and minced</footer>
                  <footer class="blockquote-footer">About 1/2 teaspoon salt</footer>
                  <footer class="blockquote-footer">About 1/4 teaspoon pepper</footer>
                  <footer class="blockquote-footer">4 hamburger buns (4 in. wide), split</footer>
                  <footer class="blockquote-footer">About 1/4 cup mayonnaise</footer>
                  <footer class="blockquote-footer">About 1/4 cup ketchup</footer>
                  <footer class="blockquote-footer">4 iceberg lettuce leaves, rinsed and crisped</footer>
                  <footer class="blockquote-footer">1 firm-ripe tomato, cored and thinly sliced</footer>
                  <footer class="blockquote-footer">4 thin slices red onion</footer>
                </blockquote>
          <br>
              <img src="assets/Salad .png" class="img-thumbnail float-right" alt="burger" style="height: 45vh;margin: 3%">
              <h2 id="salad">Stacked Caprese Salad</h2>
          <h5>Step 1</h5>
          <p>Slice the tomato in approximately 1/4 inch thick slices. Do the same for the mozzarella.</p>
          <h5>Step 2</h5>
          <p>Alternate layers between the tomatoes, mozzarella, and basil. First, a tomato slice, then mozzarella slice, then a couple leaves of basil; beginning and ending with tomatoes.</p>
          <h5>Step 3</h5>
          <p>Drizzle with olive oil and balsamic vinegar. Season to taste with salt and pepper, if desired.</p>
          <br>
                <blockquote class="blockquote text-center">
                  <footer class="blockquote-footer">1 medium to large tomato</footer>
                  <footer class="blockquote-footer">1/4 cup fresh basil leaves</footer>
                  <footer class="blockquote-footer">4 ounces fresh mozzarella cheese</footer>
                  <footer class="blockquote-footer">4 teaspoons balsamic vinegar</footer>
                  <footer class="blockquote-footer">1 tablespoon olive oil</footer>
                  <footer class="blockquote-footer">salt and pepper, to taste</footer>
                </blockquote>
          <br>


          <img src="assets/muffins.png" class="img-thumbnail float-right" alt="burger" style="height:45vh;margin: 3%">
          <h2 id="muffins">Basic Muffins</h2>
          <h5>Step 1</h5>
          <p>Heat oven to 200C/180C fan/gas 6. Line 2 muffin trays with paper muffin cases. In a large bowl beat 2 medium eggs lightly with a handheld electric mixer for 1 min.</p>
          <h5>Step 2</h5>
          <p>Add 125ml vegetable oil and 250ml semi-skimmed milk and beat until just combined then add 250g golden caster sugar and whisk until you have a smooth batter.</p>
          <h5>Step 3</h5>
          <p>Sift in 400g self-raising flour and 1 tsp salt (or 400g plain flour and 3 tsp baking powder if using) then mix until just smooth. Be careful not to over-mix the batter as this will make the muffins tough.</p>
          <h5>Step 4</h5>
          <p>Stir in 100g chocolate chips or dried fruit if using.</p>
          <h5>Step 5</h5>
          <p>Fill muffin cases two-thirds full and bake for 20-25 mins, until risen, firm to the touch and a skewer inserted in the middle comes out clean. If the trays will not fit on 1 shelf, swap the shelves around after 15 mins of cooking.</p>
          <h5>Step 5</h5>
          <p>Leave the muffins in the tin to cool for a few mins and transfer to a wire rack to cool completely.</p>
          <br>
          <blockquote class="blockquote text-center">
                  <footer class="blockquote-footer">2 medium eggs</footer>
                  <footer class="blockquote-footer">125ml vegetable oil</footer>
                  <footer class="blockquote-footer">250ml semi-skimmed milk</footer>
                  <footer class="blockquote-footer">250g golden caster sugar</footer>
                  <footer class="blockquote-footer">400g self-raising flour</footer>
                  <footer class="blockquote-footer">1 tsp salt</footer>
                  <footer class="blockquote-footer">100g chocolate chips or dried fruit such as sultanas or dried cherries (optional)</footer>
                </blockquote>
          <br>
      </div>

      </div>
  </div>
  <div class="container">
          <footer class="pt-4 my-md-5 pt-md-5 border-top">
                  <div class="row">
                    <div class="col-12 col-md">
                      <img class="mb-2" src="http://www.mobi4health.ug.edu.pl/wp-content/uploads/2016/pobieranie/UG_Logo_EN.jpg" alt="" width="24" height="24">
                      <small class="d-block mb-3 text-muted">© 2019-2020</small>
                    </div>
                    <div class="col-6 col-md">
                      <h5>Find us at:</h5>
                      <ul class="list-unstyled text-small">
                          <li>
                            <a href="https://www.facebook.com/"><img class="mb-2" src="https://image.flaticon.com/icons/svg/21/21155.svg" alt="" width="24" height="24"></a>
                            <a href="https://www.instagram.com/"><img class="mb-2" src="https://image.flaticon.com/icons/svg/733/733614.svg" alt="" width="24" height="24"></a>
                            <a href="https://www.whatsapp.com/"><img class="mb-2" src="https://image.flaticon.com/icons/svg/733/733585.svg" alt="" width="24" height="24"></a>
                          </li>
                      </ul>
                    </div>
                    <div class="col-6 col-md">
                      <h5>Created by</h5>
                      <ul class="list-unstyled text-small">
                        <li>Alicja Chojnowska</li>
                        <li>Karol Pliszka</li>
                        <li>Karol Szczodrowski</li>
                      </ul>
                    </div>
                  </div>
                </footer>
  </div>
