
<div class="container ">
<h1>
Latest recipes of the community
</h1>

  <div class="panel-group">
<% @posts.each do |post| %>
<div class="panel panel-info">



  <div class="panel-heading">

<h3><%= post.title %></h3>
  </div>
  <div class="panel-body">

  <% input = post.body
 shorter = input[0,200] %>
 <p>
   <%= shorter %>  ...
   </p>
   <p class="text-primary">
  Chekout the recipe for delicious <%= post.title %> ! Click the button below.

  </p>
  <%= link_to "Show me recipe", post_path(post), :class => 'btn btn-primary' %>
  </div>

<% end %>
  </div>
  </div>
